body {
  background: #73C8A9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand {
  font-family: 'Spicy Rice', cursive;
  font-size: 1.5rem;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Spicy Rice', cursive;
}

header img {
  width: 60%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


ul {list-style-type: none;}

a {
  color: #1396e1; 
  text-decoration: none;
}

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

/** ==========================================
* Contendor Principal 
=============================================*/
.main-wrapper {
  display: block;
  margin: 50px auto 40px;
  width: 960px;
}

.main-wrapper input[type="radio"] {
  display: none;
}

/* Titulo 
---------------------*/
.main-title {
  color: #242424;
  font: 400 3.2em 'Open Sans', Arial, Sans-serif, Verdana;
  text-align: center;
}

.main-title a {
  color: #1396e1;
  font-size: 0.5em;
  font-weight: 700;
}

/* Lista de Categorias 
--------------------------------------------*/
.list-category {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.list-category li {
  display: inline-block;
  font-size: 1.6em;
}

.list-category label {
  display: inline-block;
  color: #E5E5E5;
  cursor: pointer;
  background: #3e4257;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 16px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Imagenes / En este caso divs de colores :C
--------------------------------------------------*/
.list-images {
  color: #000;
  display: block;
  margin-top: 40px;
  text-align: center;
}

.list-images li {
  opacity: 0.3;
  width: 200px;
  height: 120px;
  margin: 5px;
  display: inline-block;
  border: 4px solid #FFF;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  color: #FFF;
  font-size: 1.5em;
  font-weight: 700;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.list-images li a{
  color: #FFF;
  
  
}

.list-images li span  {
  position: relative;
  top: 40px;
}

.list-images .type-energia {background: #3fab91;}
.list-images .type-salud {background: #ffbb45;}
.list-images .type-ambientales {background: #db559a;}
.list-images .type-alimentos {background: #994356;}


/* Estilos cuando un radio esta seleccionado
--------------------------------------------------*/
#all:checked ~ .list-category label[for="all"],
#energia:checked ~ .list-category label[for="energia"], 
#ambientales:checked ~ .list-category label[for="ambientales"], 
#alimentos:checked ~ .list-category label[for="alimentos"], 
#type-salud:checked ~ .list-category label[for="salud"] {
  background: #1396e1;
  color: #FFF;
}

/* Filtramos las clases mediante el selector ~
--------------------------------------------------*/
#all:checked ~ .list-images li {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#energia:checked ~ .list-images .type-energia,
#ambientales:checked ~ .list-images .type-ambientales,
#alimentos:checked ~ .list-images .type-alimentos,
#salud:checked ~ .list-images .type-salud {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}